#inova{
    margin-bottom: -40%;
}

.margin-3{
    margin-left: 32.5%;
}

.margin-top{
    margin-top:10% ;
}

@media (max-width: 768px) {
    .margin-top{
      margin-top: 20%;
    }
  }

@media (max-width: 768px) {
    .ler-mais{
        margin-bottom: 45%;
    }
    .titulo-h1{
        margin-bottom: 5%;
    }
    .margin-3{
        margin-left: 0%;
    }
}
  